@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto:wght@300&display=swap');


:root {
    --cream:#f8efe4;
    --dark: #282120;
    --yellow:#fad02c;
    --rose: #e6c2bf;
    --gold:#b88917;
}

body {
   background-color: var(--cream);
   color: var(--dark);
   font-family: Inter, sans-serif;

    }

* {
    margin: 0;
    padding: 0;
}

    /* Header - Logo and Navigation*/

.logo-navbartop-container {
display: flex;
flex-direction: column;
align-items: center;

width: 100%;
box-sizing: border-box;

padding-top: .75rem;
padding-bottom: .75rem;

border-bottom: 1px solid var(--cream);

background-color: var(--dark);


}

.navbartop_logo {
    margin-bottom: 1rem;
}

.nav-bar{
    text-align: center;
}

.nav-bar a{ 
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--cream);

    display: inline-block;

    margin-right: .7rem;
    margin-bottom: 1.25rem;
    margin-left: .7rem;
   
}

a.active {
    border-bottom: var(--cream) solid 0.5px;
}

a:hover { 
    color: var(--yellow);
     transition: ease-in;
     letter-spacing:0.5px;
 }

 @media screen and (min-width: 1024px) {
    .logo-navbartop-container{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        border: none;
      }

      .nav-bar a{ 
       margin-right: .7rem;
       font-weight: bold;
           
    }

    }


    /*Section Hero*/


#hero-headline{
    padding-left: 0.5rem;
}

.hero-text {
    padding: 0.5rem;

}

#hero-image {
    display: block;
    width: 100%;
    animation-name: hero-zoom;
                animation-duration: 5s;
                animation-fill-mode: forwards;
}

@keyframes hero-zoom {
    from {
    transform: scale(1.0);
    }
    to {
        transform: scale(1.1);
    }
}

    /* Section About*/


   #about-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: var(--dark);
                        }

   
    .about-headline {
        color: var(--cream);
        text-align: left;
        padding-left: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .about-headline-2 {
        color: var(--cream);
        font-size: 1.15rem;
        text-align: left;
        padding-left: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .about-text {
        color: var(--cream);
        text-align: left;
        line-height: normal;
        padding: 0.5rem;
        
    }

    #about-image {
       display: block;
       width: 100%;
        
      }


      button {
        text-align: center;
        background-color: var(--cream);
        color: var(--dark);
        text-decoration: none;
        border: 2px solid transparent;
        font-weight: bold;
        padding: 0.3rem 0.5rem;
        border-radius: 1rem;
        transition: .4s;
      }
      
      button:hover {
        background-color: var(--gold);
        border: 2px solid var(--dark);
        cursor:pointer;
      }

      @media screen and (min-width: 1024px) {
        #about-container {
            display: flex;
            flex-direction: row-reverse;
                     }
                    
         #about-image {
        padding: 10rem 0 10rem 10rem;
       
                    }
                }

    /*Footer*/


footer {
    color: var(--cream);
    background-color: var(--dark);
     }
     
.footer-container {
  display: flex;
  flex-direction:column;
  align-items: center;
}

#footer-logo {
    padding-top: 1rem;
    padding-bottom: 1rem;

}

.footer-navbar {
  display: flex;
}

.footer-navbar a {


  font-size: 1.1rem;
  text-decoration: none;
  color: var(--cream);

  display: inline-block;

  padding-bottom: 1rem;
  margin-left: .7rem;

  }

.footer-social-links  {
  display: flex;

}

.footer-social-links li  {
    display: block;
    width: 2.6rem;
    height: 2.6rem;
}

.footer-social-links a i  {
    color: var(--cream);
    font-size: 2rem;

}


.footer-social-links a.active {
    border-bottom: var(--cream) solid 0.5px;
}

.footer-social-links a:hover { 
    color: var(--yellow);
     transition: ease-in;
     letter-spacing:0.5px;
 }
 
#copyright  p {
  color: var(--cream);
  background-color: (--dark);
  text-align: center;
}

@media screen and (min-width: 1024px) {
    .footer-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
                     }
                     
                     .footer-navbar {
                         text-align: left;
                         min-width: 600px;

                     }
                     #copyright  p {
                        color: var(--cream);
                        background-color: (--dark);
                        text-align: center;
                           }
                     
    }