@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto:wght@300&display=swap');


:root {
    --cream:#f7f6f5;
    --dark: #020814;
    --yellow:#fad02c;
    --rose: #e6c2bf;
    --gold:#b88917;
}
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--cream);
    color: var(--dark);
    font-family: Inter, sans-serif;

}
/* Header - Logo and Navigation*/
.logo-navbartop-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--dark);

}
.logo__navbar {
    margin: 0.5rem;
}
.hamburguer__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: var(--cream);
    font-size: 30px;
    line-height: 80px;
    margin-bottom: 1rem;
}
#check {
    display: none;
}
ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background:var(--cream);
    top: 7.5rem;
    left: -100%;
    text-align: center;
    transition: all .5s;
}
nav ul li {
    display: flex;
    flex-direction: column;
    margin: 1.2rem 0;
    line-height: 1.8rem;
}
nav ul li a {
    font-size: 1.25rem;
    color: var(--dark) ;
    text-decoration: none;
    text-transform: uppercase;
}
a:hover {
    color: var(--cream);
    transition: ease-in;
    letter-spacing:0.031rem;
    background-color: var(--dark);
    font-weight: bold;
}
#check:checked ~ ul {
    left: 0;
}
@media screen and (min-width: 1024px) {
    .logo-navbartop-container{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: none;
        background-color: var(--dark);

   }
    nav ul {
        position:static;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        background-color: var(--dark);

   }
    nav ul li a{
        font-size: 1.1rem;
        font-weight: bold;
        text-transform: capitalize;
        text-decoration: none;
        color: var(--cream);
        margin-right: .7rem;
        margin-bottom: 1.25rem;
        margin-left: .7rem;
   }

   a:hover {
    color: var(--rose);
    transition: ease-in;
      }
   
    .hamburguer__button {
        display:none;
   }
    a.active {
        border-bottom: var(--cream) solid 0.5px;
   }
}

        
            
        
        
        /*Section Hero*/
        
        
        #hero-headline {
            margin-bottom: 1rem;
            font-size: 1.5rem;
            text-transform: capitalize;
            text-align: center;
            padding-top:1.25rem;
            }

        .hero-text {
            padding: 1rem;
            font-size: 1rem;
            text-align: center;
        }
        
        .hero-headline2 {
            padding-top: 1rem;
            font-size: 1rem;
            text-transform: uppercase;
            text-align: center;

        }

        #hero-image {
            display: block;
            width: 100%;
           }
        
       

         @media screen and (min-width: 1024px) {
        
#hero {
    background-image: url(../images/hero.jpg);
    height: 50rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    animation-name: hero;
    animation-duration: 5s;
    padding-top:5rem;
  
}   

@keyframes hero {
    from {transform: scale(1);}
    to {transform: scale(1.05);}
  }

        #hero-image{
           display: none;
                  }
        
        #hero-headline {
            margin-bottom: 1rem;
            text-align: left;
            font-size: 3rem;
            padding-top: 15rem;        
        }

      

        .hero-text-p {
            font-size: 1.3rem;
            width: 43%;
            font-weight: bold;
            text-align: left;

        }

        .hero-headline2 {
            margin-bottom: 1rem;
            text-align: left;
            font-size: 1.5rem;
            padding-top: 1rem;
            text-transform: uppercase;
        }

        .hero-text {
            margin-left: 5rem;
        }
                  
                }



                /*Benefits Section*/


                .benefits-section {
                    height: 100vh;
                    background-color: var(--dark);
                }


                .benefits-container{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin: 0 auto; 
                    height: 100vh;

                }

                .benefits-text{
                padding: 1rem;
                font-size: 1rem;
                text-align: center;
            }
          
                .benefits-headline {
                    text-align: center;
                    color: var(--cream);
                    text-transform: capitalize;
                    font-size: 1.5rem;
                    padding-top:1.25rem ;

                }

                .benefits-icons-img {
                    display: flex;
                    width: 100px;
                    height: 100px;
                }

                @media screen and (min-width: 1024px) {
               
                    .benefits-container{
                        display: flex;
                        flex-direction: raw;
                        justify-content: center;
                        align-items: center;
                        margin: 0 auto; 
                        height: 100vh;
    
                    }
                    .benefits-headline1 {
                        padding-top: 5rem;
                        font-size: 2rem;
                          }
                
                }

                    
    /* Section About*/


   #about-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: var(--dark);
        height: 100vh;
        
    }

   
    .about-headline {
        color: var(--cream);
        text-align: left;
        padding-top: 5rem;
        padding-left: 0.5rem;
        margin-bottom: 0.5rem;
        font-size: 2rem;
    }

    .about-headline-2 {
        color: var(--cream);
        font-size: 1.5rem;
        text-align: left;
        padding-left: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .about-text {
        color: var(--cream);
        text-align: left;
        line-height: normal;
        padding: 0.5rem;
        font-size: 1rem;
        
    }

    #about-image {
       display: block;
       width: 100%;
        
      }


      button {
        text-align: center;
        background-color: var(--cream);
        color: var(--dark);
        text-decoration: none;
        border: 2px solid transparent;
        font-weight: bold;
        padding: 0.3rem 0.5rem;
        border-radius: 1rem;
        transition: .4s;
      }
      
      button:hover {
        background-color: var(--rose);
        border: 2px solid var(--dark);
        cursor:pointer;
      }

    
      @media screen and (min-width: 1024px) {
        #about-container {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: center;
            margin: 0 auto;   
            height: 30rem;      }
                    
         #about-image {
        width: 40%;
        margin-left: 20rem;
                    }


.about-text {
    width: 60%;
    margin-bottom: 1rem;
}
                }

   
/*Services Section*/

.services-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.section-services-headline {
    margin-top: 1rem;
    text-align: center;
    font-size: 2rem;
    text-transform:capitalize;
                        padding-top: 5rem;

}


.image-services1 {
    display: block;
    width: 100%;
}

.image-services2 {
    display: block;
    width: 100%;
}

.image-services3 {
    display: block;
    width: 100%;
}

@media screen and (min-width: 1024px) {
    
      .services-container{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
                        }
   
    .services-item {
        width: 25%;
        margin-bottom: 5rem;
        margin-top: 2rem;

    }

 
                          }

/*Success Cases Section*/


.success-cases-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 100vh;   
    background-color: var(--cream);

}

.success-cases-section-headlineh2 {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1rem;
    font-weight: bold;
    margin-top: 1.0rem;
    margin-bottom: 1.0rem;

}

.success-cases-text-headline {
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    font-weight: bold;
    margin-top: 4rem;
    background-color: var(--dark);
    color: var(--cream);
    width: 80%;
    margin: 0 auto;
    font-size: 1.5rem ;
    padding: 1rem;
    border-radius: 30%;
  }

  .success-cases-text-headline:hover {
        background-color: var(--rose);
        color: var(--dar);   
    }

.success-case1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 85%;
    height: 22rem;
    border-radius: 5%;  
    margin:0.5rem;
    padding:0.5rem; 
    border: 0.15rem solid var(--dark);
    box-shadow: 5px 10px;

}


.success-case2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 85%;
    height: 22rem;
    border-radius: 5%;  
    margin:0.5rem;
    padding:0.5rem;   
    border: 0.15rem solid var(--dark);
    box-shadow: 5px 10px;

}

.success-case3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 85%;
    height: 22rem;
    border-radius: 5%; 
    margin:0.5rem;
    padding:0.5rem;
    border: 0.15rem solid var(--dark);
    box-shadow: 5px 10px;


        }


.success-case-headline {
color: var(--dark);

}

.sucess-case-text {
color: var(--dark);
text-align: center;
margin-bottom:0.5rem;
}




@media screen and (min-width: 1024px) {

    .success-cases-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 30rem;
        margin: 0 auto  ;

          }
    
    .success-cases-text-headline{
        text-align: center;
        text-transform: capitalize;
        letter-spacing: 0.1rem;
        font-weight: bold;
        margin-top: 5rem;
        background-color: var(--dark);
        color: var(--cream);
        width: 30%;
        margin: 0 auto;
        font-size: 1.5rem ;
        border-radius: 25%;

          }

          .success-case1 {
            width: 25%;
    
    
        }
    
        .success-case2 {
            width: 25%;
            
        }
    
        .success-case3 {
            width: 25%;
            
        }
          }

       

        

    



/*Footer*/

.footer-section {
    height: 10rem;
    background-color: var(--dark);
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 10rem;
    width: 100%;
    margin-top: 1rem;
}

.footer-navbar {
    display: flex;
}

.footer-navbar a {
    color: var(--cream);
    text-decoration: none;
    padding: 0.5rem;
    
}

.footer-navbar a:hover {
   color: var(--rose);
   transition: ease-in;

}

.footer-social-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-social-links a {
    color: var(--cream);
    padding: 0.5rem;
    font-size: 2rem;
}

.footer-social-links a:hover {
    color: var(--rose);
    transition: ease-in;
}
    
.copyright {
    background-color: var(--dark);
    color: var(--cream);
    text-align: center;
    }

    @media screen and (min-width: 1024px) {
        .footer-section {
            height: 8rem;
            background-color: var(--dark);
        }
        
        .footer-container {
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            height: 8rem;
            
        }
.footer-section {
    height: 10rem;
    background-color: var(--dark);
}
}

    /*Contact page*/

   
    .form-container {
        width: 87%;
        height: 27rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding:0.8rem;
        margin:0.5rem auto;
        border-radius: 5%;
        background-color: var(--rose);
    }
    
    .field {
        margin-bottom: 0.8rem;
        }

        .field label { 
            margin-bottom: 0.2em;
        }   

        .field input[type="text"], .field input[type="email"], .field select, .field textarea {
            padding: 0.3rem; 
            border: 1px solid var(--dark);
            box-shadow: 2px 2px 2px rgba(0,0,0,0.2); 
            display:block;
        }
        

        .formbutton {
            text-decoration: none;
            padding: 0.2rem 1rem; 
            background-color: var(--dark);
            border-radius: 1rem;
            color:var(--cream);
            font-size: 1rem;
            letter-spacing:0.1rem;
            margin-bottom:0.5rem ;
        }

        .formbutton:hover {
            color:#f7f0ef;
            background-color:var(--rose);
            transition: 1s ease;
        }
    
        .formbutton, select{
            cursor: pointer;
              }


/*Form Destination Page */


#thankyou-text {
    padding: 10% 20% 10% 20%;
    font-weight: lighter;
}

    /*Page Services - 1st section*/

    .services1-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        height: 100vh;   
        background-color: var(--cream);
    
    }

    .services-box1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 85%;
        height: 20rem;
        border-radius: 5%;  
        margin:1rem;
        padding:1rem; 
        border: 0.15rem solid var(--dark);
 
    }

    .services-box2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 85%;
        height: 20rem;
        border-radius: 5%;  
        margin:1rem;
        padding:1rem;   
        border: 0.15rem solid var(--dark);
   
    }

    .services-box3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 85%;
        height: 20rem;
        border-radius: 5%;  
        margin:1rem;
        padding:1rem;
        border: 0.15rem solid var(--dark);

            }


.services1-headline {
    color: var(--dark);
}

.services1-text {
    color: var(--dark);
    text-align: center;
}

.services-icons {
    color: var(--dark);
    font-size: 5rem;
     
}

    @media screen and (min-width: 1024px) {
        .services1-container {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 37.5rem;

              }

              .services-box1 {
                width: 25%;
        ;
        
            }
        
            .services-box2 {
                width: 25%;
                
            }
        
            .services-box3 {
                width: 25%;
                
            }

            }

        