@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto:wght@300&display=swap');


:root {
    --cream:#f8efe4;
    --dark: #282120;
    --yellow:#fad02c;
    --rose: #e6c2bf;
    --gold:#b88917;
}

body {
   background-color: var(--dark);
   color: var(--cream);
   font-family: Inter, sans-serif;

    }

* {
    margin: 0;
    padding: 0;
}

nav {
    background:var(--dark);
    height: 80px;
    width: 100%;
}

nav ul{
    float: right;
    margin-right: 20px;
}

.logo{
    margin: 18px;
}


.logo__navbar {
    height: 80px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a { 
    color: var(--cream);
    font-size: 110%;
    padding: 7px 13px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    text-decoration: none;
}

a.active {
    border-bottom: var(--cream) solid 0.5px;
}

a:hover { 
   color: var(--yellow);
    transition: ease-in;
    letter-spacing:0.5px;

}

.hamburguer__button {
    font-size: 30px;
    color: var(--cream);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor:pointer;
    display:none;
}

#check {
    display: none;
}

@media (max-width: 952px){
    .logo__navbar {
        font-size: 30px;
        padding-left: 50px;
    }

nav ul li a { 
    font-size: 16px;
}
}

@media(max-width: 858px) {
    .hamburguer__button {
        display: block;
        background: var(--dark);
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background:var(--cream);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;

           }
    nav ul li a {
        font-size: 20px;
        color: var(--dark) ;

           }

    a:hover { 
        color: var(--cream);
        background-color: var(--dark);
         transition: 1s;
}

#check:checked ~ ul {
    left: 0;

}
}


.hero {
    background-image: url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size:cover;
   
    }

.container {
      height: 100vh;
      width: 100%;
      display: grid;
      grid-template-columns: 50% 50%;
      
      }

.headline__description {
        font-weight: 700;
        font-size: 48px;
        color: var(--dark);
        margin-bottom: 0.1em;
       }

.headline__text {
    color: var(--dark);
}

.section__description {
    padding-top: 200px;
    width: 600px;
    margin: 100px;
}

/*Footer*/

footer {
    color: var(--cream);
    background-color: var(--dark);
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.footer-navlinks {
display: flex;
justify-content: center;
margin-bottom: 16px;
flex-grow: 1;
height: 30px;
}

.footer-social-links {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 16px;
    flex-grow: 1;
       }

a { 
    padding: 0 15px; 
    font-size: 14px;
    font-weight: 500;
    color: var(--cream);
    text-decoration: none;
    
    }

i {
    cursor: pointer;
    font-size: 30px;
}

/*footer page*/

