@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto:wght@300&display=swap');


:root {
    --cream:#f8efe4;
    --dark: #282120;
    --yellow:#fad02c;
    --rose: #e6c2bf;
    --gold:#b88917;
}

body {
   background-color: var(--dark);
   color: var(--cream);
   font-family: Inter, sans-serif;

    }

* {
    margin: 0;
    padding: 0;
}

    /* Header - Logo and Navigation*/

    .logo-navbartop {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: var(--dark);
    }

    .nav-bar {
        display: flex;
    }
   
    .nav-bar a {
        color: var(--cream);
        font-weight: bold;
        text-decoration: none;
        margin-left: 2px;
        font-size: 100%;
        padding: 10px;
    }

    a.active {
        border-bottom: var(--cream) solid 0.5px;
    }

    a:hover { 
        color: var(--yellow);
         transition: ease-in;
         letter-spacing:0.5px;
     }

/*Hero section*/


.hero {
    background-image: url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size:cover;
   
    }

.container {
      height: 100vh;
      width: 100%;
      display: grid;
      grid-template-columns: 50% 50%;
      
      }

.headline__description {
        font-weight: 700;
        font-size: 48px;
        color: var(--dark);
        margin-bottom: 0.1em;
       }

.headline__text {
    color: var(--dark);
}

.section__description {
    padding-top: 200px;
    width: 600px;
    margin: 100px;
}

/*Footer*/

footer {
    color: var(--cream);
    background-color: var(--dark);
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.footer-navlinks {
display: flex;
justify-content: center;
margin-bottom: 16px;
flex-grow: 1;
height: 30px;
}

.footer-social-links {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 16px;
    flex-grow: 1;
       }

a { 
    padding: 0 15px; 
    font-size: 14px;
    font-weight: 500;
    color: var(--cream);
    text-decoration: none;
    
    }

i {
    cursor: pointer;
    font-size: 30px;
}

/*footer page*/

